body {
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
    font-weight: bolder;
}
img {
    width: 300px;
    height: 300px;
    border: 5px solid black;
}

.header {
    background-color: #ede5a6;
    display: flex;
    justify-content: space-between;
}

.options {
    margin: 27px;
}

.options a {
    margin-left: 10px;
    font-size: 18px;
}

.header h1 {
    color: #592941;
    margin-left: 650px;
    font-size: 50px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
